@page
@model Proiect.Pages.Transporturi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Stabileste calatoria apasand pe butonul de mai jos!</h1>
<br>
<br>
<p>
    <a asp-page="Create">Creaza calatorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transport[0].Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport[0].Firma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transport)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firma)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
